:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(4) hue-rotate(200deg) saturate(0.5) brightness(0.5);
    --gold-crayola: #5e503f;
    --smoky-black-2: #92817a;
    --eerie-black-1: #362417;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
.leaflet-marker-icon {
    filter: invert(80%) sepia(100%) saturate(90%) hue-rotate(17deg) brightness(92%) contrast(90%);
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
main {
    display: flex;
}
.store-list {
    width: 25%;
    height: 100vh;
    overflow: auto;
    background: var(--smoky-black-2)
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}
#map {
    height: 100vh;
    width: 75%;
}
.store-list .heading {
    background: var(--eerie-black-1);
    color: #fff;
}
.store-list .heading h2 {
    padding: 1rem;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: var(--gold-crayola);
    border-radius: 0;
}
.store-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}
.store-list .shop-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}
.store-list li:last-child .shop-item {
    border: none;
}
.store-list .shop-item a {
    text-decoration: none;
    font-size: 20px;
    color: #f6f0eb;
    font-weight: 700;
}
.store-list .shop-item p {
    font-size: 14px;
    color: #f9e5e5;
}
.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper h4 {
    padding: 16px;
    background: var(--gold-crayola);
    color: #fff;
    font-size: 16px;
}
.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
    padding: 16px;
    padding-top: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
    color:var(--eerie-black-1);
    font-size: 14px;
}

/* Media Queries */

@media (max-width: 640px) {
.store-list{
    display: none;
}    
#map{
    width: 100vw;
}
}